%p
  %strong Title:
  = @post.title 
  %br
  - if @post.category
    %strong Category:
    = @post.category.title.capitalize
- @testimonies.each do |testimony| 
  =testimony.author.capitalize
  =link_to "Destroy", testimony, method: :delete
  %br
- @images.each do |images| 
  .col-md-4
    =image_tag images.file_url, :size => "200x200" 
    %br
    =link_to "Edit", edit_image_path(images) 
    | 
    =link_to "Destroy", images, method: :delete

=link_to 'Edit', edit_post_path(@post) 
|
=link_to 'Destroy', @post, method: :delete 
|
=link_to 'Back', pages_index_path 