%p
  %strong Title:
  = @post.title 

- @post_images.each do |i| 
  =image_tag i.file_url, :size => "150x150" 
  %br
  =link_to "Edit", edit_image_path(i) 
  | 
  =link_to "Destroy", i, method: :delete 
  %br
  %br
%br

=link_to 'Edit', edit_post_path(@post) 
|
=link_to 'Destroy', @post, method: :delete 
|
=link_to 'Back', pages_index_path 