%p
  %strong Title:
  = @post.title 
  %br
  - if @post.category
    %strong Category:
    = @post.category.title.capitalize
- @testimonies.each do |t| 
  =t.author.capitalize
  =link_to "Destroy", t, method: :delete
  %br
- @post_images.each do |i| 
  .col-md-4
    =image_tag i.file_url, :size => "200x200" 
    %br
    =link_to "Edit", edit_image_path(i) 
    | 
    =link_to "Destroy", i, method: :delete

=link_to 'Edit', edit_post_path(@post) 
|
=link_to 'Destroy', @post, method: :delete 
|
=link_to 'Back', pages_index_path 